In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('Churn_Modelling.csv')
df.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
x=df.iloc[:,3:13].values
y=df.iloc[:,13].values

In [5]:
#from sklearn.preprocessing import OneHotEncoder
#ohe=OneHotEncoder(categorical_features=[1])
#x=ohe.fit_transform(x).toarray()
dumy=pd.get_dummies(df.Geography)

dumy1=pd.get_dummies(df.Gender)
merge=pd.concat([dumy,dumy1,df],axis=1)
merge
final=merge.drop(['Spain','Female','Gender','Geography','RowNumber','CustomerId','Surname'],axis=1)
x=final.drop(['Exited'],axis=1)
y=final.Exited

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [8]:
x_train.shape

(7500, 11)

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

C:\Users\harshit\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\harshit\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\harshit\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [10]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [11]:
classifier = Sequential()

In [12]:
classifier.add(Dense(input_dim = 11, units = 6, kernel_initializer = 'he_normal',activation = 'relu')) # 1st layer
classifier.add(Dense(units = 6, kernel_initializer = 'he_normal',activation = 'relu')) # 2nd layer
classifier.add(Dense(units = 1, kernel_initializer = 'glorot_uniform',activation = 'sigmoid')) # output layer

In [13]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

WARNING: Logging before flag parsing goes to stderr.
W0510 15:56:59.093283  4436 deprecation.py:323] From C:\Users\harshit\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [15]:
classifier.fit(x_train, y_train,batch_size=250, epochs = 30)

Epoch 1/30
7500/7500 [==============================] - 0s 17us/step - loss: 0.4024 - accuracy: 0.8284
Epoch 2/30
7500/7500 [==============================] - 0s 19us/step - loss: 0.3997 - accuracy: 0.8303
Epoch 3/30
7500/7500 [==============================] - 0s 19us/step - loss: 0.3969 - accuracy: 0.8311
Epoch 4/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3943 - accuracy: 0.8337
Epoch 5/30
7500/7500 [==============================] - 0s 19us/step - loss: 0.3918 - accuracy: 0.8347
Epoch 6/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3895 - accuracy: 0.8357
Epoch 7/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3873 - accuracy: 0.8367
Epoch 8/30
7500/7500 [==============================] - 0s 19us/step - loss: 0.3852 - accuracy: 0.8388
Epoch 9/30
7500/7500 [==============================] - 0s 19us/step - loss: 0.3833 - accuracy: 0.8388
Epoch 10/30
7500/7500 [==============================] - 0s 19us/step - loss: 0.3814 - accuracy: 0.8391
Epoch 11/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3796 - accuracy: 0.8388
Epoch 12/30
7500/7500 [==============================] - 0s 19us/step - loss: 0.3780 - accuracy: 0.8415
Epoch 13/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3764 - accuracy: 0.8412
Epoch 14/30
7500/7500 [==============================] - 0s 19us/step - loss: 0.3750 - accuracy: 0.8408
Epoch 15/30
7500/7500 [==============================] - 0s 17us/step - loss: 0.3736 - accuracy: 0.8413
Epoch 16/30
7500/7500 [==============================] - 0s 17us/step - loss: 0.3724 - accuracy: 0.8413
Epoch 17/30
7500/7500 [==============================] - 0s 19us/step - loss: 0.3712 - accuracy: 0.8428
Epoch 18/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3701 - accuracy: 0.8427
Epoch 19/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3691 - accuracy: 0.8439
Epoch 20/30
7500/7500 [==============================] - 0s 17us/step - loss: 0.3681 - accuracy: 0.8440
Epoch 21/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3672 - accuracy: 0.8443
Epoch 22/30
7500/7500 [==============================] - 0s 17us/step - loss: 0.3664 - accuracy: 0.8440
Epoch 23/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3656 - accuracy: 0.8440
Epoch 24/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3650 - accuracy: 0.8443
Epoch 25/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3642 - accuracy: 0.8452
Epoch 26/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3637 - accuracy: 0.8453
Epoch 27/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3631 - accuracy: 0.8463
Epoch 28/30
7500/7500 [==============================] - 0s 18us/step - loss: 0.3625 - accuracy: 0.8465
Epoch 29/30
7500/7500 [==============================] - 0s 17us/step - loss: 0.3619 - accuracy: 0.8471
Epoch 30/30
7500/7500 [==============================] - 0s 17us/step - loss: 0.3614 - accuracy: 0.8465

In [16]:
pred= classifier.predict(x_test)
pred= (pred > 0.5)
pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [17]:
from sklearn.metrics import confusion_matrix
#accuracy_score(y_test,pred)
confusion_matrix(y_test,pred)

array([[1885,  106],
       [ 276,  233]], dtype=int64)

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.8472